.color-nav{
    background:  rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   
}
.navbar-brand{  
font-style: normal;
color: #ABE4CD;
font-size: 30px;
  
}
.nav-sign{
    color: bisque;
    font-weight: bold;
    margin-right: 30px;

}
  
.nav-sign:hover 
{
background-color:rgba(148,187,233,1)100%
}

.nav-sign:active {
 transform: translateY(4px);
}
.welcome-eagro{
    color:bisque ;
   font-size: 20px;
   font-weight: bold;

}