.color-nav{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  
    background: linear-gradient(to right, #45B649, #DCE35B); 
    
}
.navbar-brand{  
font-style: normal;
color: #ABE4CD;
font-size: 30px;
  
}
.nav-sign{
    color:  #45B649;
    
    font-weight: bold;
    margin-right: 30px;

}
  
.nav-sign:hover 
{
background-color:rgba(148,187,233,1)100%
}

.nav-sign:active {
 transform: translateY(4px);
}
.welcome-eagro{
    color:#DCE35B ;
   font-size: 20px;
   font-weight: bold;

}