.signin{
   
background: #DCE35B;  
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  
background: linear-gradient(to right, #45B649, #DCE35B); 

    height: 720px;
   
    display: flex;
}
.signin_main{
    display: flex;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 120px;
margin-left: 120px;
width: 880px;
height: 500px;
border-radius: 30px;


}
.image-container
{

    width: 500px;
    height: 600px;
    
}
.signin-container
{
    width: 600px;
    height: 600px;



}
.image{
    object-fit: cover;
    width: 400px;
    height: 500px;
    border-radius: 15px;
   
}
.email_label
{
    font-weight: bold;
}
.welcome
{
    font-size: 32px;

    font-weight: bold;
    color:  #45B649;
    
}
.back{
    font-size: 20px;
   
    color:  #45B649;

    font-weight: bolder;
}